*{
  box-sizing:border-box;
}
*{
  font-family: 'Poppins', sans-serif;
}

body{
  background-image: url(background.jpg);
  background-size: cover;
}

header{
  margin: auto;
  text-align: center;
  color:lime;
}

.sfondogrigio{
  background-color: rgba(0,0,0,0.5);
  width: 1000px;
  height: 650px;
  border-radius: 5%;
  margin: auto;
  margin-top: 3%;
}

header>img{
  height: 100px;
  margin: 4px;
}

nav{
  width: 940px;
  height: 35px;
  text-align:center;
  background-color: lime;
  margin:auto;
  padding: 4px;
}

nav>button{
  font-weight: bold;
  font-size: 10px;
}

div{
  color: white;
  margin-left: 3%;
}

div>h3{
margin-bottom: 0px;
margin-top: 10px;
}

div>hr{
  height: 25px;
  border-radius: 5px;
  margin-left: initial;
}

#Gino22{
  width: 170px;
  background-color:    rgba(255, 202, 0, 1);
}

#Mike24{
  width: 400px;
  background-color:   rgba(112, 236, 47, 1);
}

#Fede154{
  width: 100px;
  background-color:  rgba(255, 33, 50, 0.9);
}
